<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biocell - Awardcell</title>
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="../static/images/logo-small.jpg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html">Home</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- PRODUC DATA -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center" data-aos="fade-down">
            <div class="section-title">
              <h1 class="display-4 fw-semibold">Awardcell - أووردسل</h1>
              <div class="line text-center"></div>
              <p> Facial Cleanser  150ml - غسول للوجه 150 مل</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-around align-items-center">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="../static/images/Awardcell-Box.jpeg" alt="" style="height:600px;">
          </div>
          <div class="col-lg-5 mt-3 arabic-text" data-aos="fade-left">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    الإستخدامات
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul dir="rtl">
                      <li>يستخدم للبشرة المختلطة والدهنية والمعرضة لحب الشباب</li>
                      <li>تنقية الوجه وتنظيفه من الشوائب والدهون الزائدة وآثار المكياج</li>
                      <li>يلعب دور كبير فى تبييض البشرة ولمعانها</li>
                      <li>يحارب علامات الشيخوخة</li>
                      <li>تفتيح وإزالة البقع الداكنة والتصبغات</li>
                      <li>يحافظ على الوجه نظيف ومشرقً</li>
                      <li>علاج حب الشباب وتنقية المسام</li>
                      <li>يقلل من خطر الندبات </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    المكونات
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul dir="rtl">
                      <li>سالسيليك</li>
                      <li>جليكوليك اسيد</li>
                      <li>هيالورونيك</li>
                      <li>زيت الشاي</li>
                      <li>نياسيناميد</li>
                      <li>ألوفيرا</li>
                      <li>كولاجين</li>
                      <li>بانثينول</li>
                      <li>فيتامين هـ</li>
                      <li>عرق سوس</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT -->
    <section id="contact" class="contact-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="section-title">
              <h6 class="display-4 fw-semibold text-white">Order the product</h6>
              <div class="line text-center bg-white"></div>
            </div>
          </div>
        </div>
        <div class="row text-center align-items-center justify-content-center">
          <div class="col-2 text-center text-white mt-0">
            <div class="d-flex flex-column align-items-center">
              <i class="ri-whatsapp-fill contact-icon"></i>
              <h5 class="text-white">123</h5>
            </div>
          </div>
          <div class="col-2 text-center text-white mt-0">
            <div class="d-flex flex-column align-items-center">
              <i class="ri-smartphone-fill contact-icon"></i>
              <h5 class="text-white">123</h5>
            </div>
          </div>
        </div>        
      </div>
    </section>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../static/scripts/main.js"></script>
  </body>
</html>
